nav ul{
    display: none;
}

nav ul{
    list-style: none;
    padding: 0px;

}

nav a{
    display: block;
    padding: 3px;
    border: 1px solid black;
}

nav li ul{
    display: none;
    position: absolute;
    bottom: 0;
    transition: top 1s;
    z-index: -1;
}

nav ul ul ul{
    left:100%;
    top: 0px
}

nav li:hover > ul{
    transform: translateY(100%);
}

nav input:checked + ul{
    display: flex;
}