header{
    border: 1px solid green;
    height: 100px;
    weight: 100px;
}

nav{
    border: 1px solid blue;
    height: 100px;
    weight: 100px;
}

article{
    border: 1px solid red;
    height: 100px;
    weight: 100px;
    float: left;
    width: 80%;
}

aside{
    border: 1px solid black;
    height: 100px;
    weight: 100px;
    float: right;
    width: 20%;
}

footer{
    border: 1px solid purple;
    height: 100px;
    weight: 100px;
}