/*Header*/
Header {
    background-color: #333;
    text-align:center;
    height: 300px;
}
.header{
    height: 300px;
    width: 100%;
}

/*Navigation bar */
nav ul{
    background-attachment: fixed;
    background-image: url("Image/rb.jpg");
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-bottom: 1px solid grey;
}

nav ul li {
    float: left;
}

.current{
    color: white;
}

nav ul li a {
    color: black;
    display: inline-block;
    font-family: "Arial Black";
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    background-color: grey;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a:hover, .dropdown:hover, .dropdown-content a:hover, button:hover{
    background-color: white;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown{
    border: none;
}
/*Dropdown navigation bar */
.dropdown-content {
    border-top: none;
    display: none;
    position: absolute;
    text-align: left;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color:black;
    display: block;
    font-family: "Arial Black";
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Body */
body {
    background-attachment: fixed;
    background-image: url("Image/betterpicture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

    /* Idk: Would like to have a better solution */
    display: flex;
    flex-direction: column;
}

/*Footer */
footer{
    background: #000000;
    color: white;
    font-family: "Arial Black";
    font-size: 15px;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    width: 100%;
}

/* Footer: Would like to have a better solution */
html, body{
    height: 100%;
}

.content{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
}

/*Images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Text content*/
.inf {
    color : white;
    font-family: sans-serif;
    padding-left: 1%;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: -5px;
}

.bold {
    color : white;
    font-family: sans-serif;
    margin: 0;
    margin-left: 1%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.text {
    font-family: sans-serif;
    color:white;
    margin-left: 1%;
    text-align: left;
}

.content img {
    width: 200px;
    height: 150px;
    margin-left: 1%;
    margin-bottom: 20px;
    margin-top: 10px;
}
