/*Header*/
header {
    background-color: #222;
    text-align:center;
    height: 350px;
}
.header{
    height: 350px;
    width: 100%;
}

/*Navigation bar */

.current{
    color: orange;
}

.menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    background: url(Image/nav.png) center;
}

.menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    background: url(Image/nav.png) center;
}

nav ul{
    background-color: #222;
    border-bottom: 2px solid black;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

nav ul li a:hover, .dropdown:hover, .dropdown-content a:hover{
    background-color: red;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown{
    border: none;
}

/*Dropdown navigation bar */
.dropdown-content {
    background-color: #222;
    border: 2px solid black;
    border-top: none;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Body */
body {
    background-attachment: fixed;
    background-image: url("Image/tank_grass_war_62140_1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

    /* Idk: Would like to have a better solution */
    display: flex;
    flex-direction: column;
}

.warning {
    display: none;
}

h1, h2, p{
    text-align: center;
    color: white;
    font-family: "Arial Black";
}

h2{
    margin: 0px;
}

.leftS{
    max-width: 50%;
}

.rightS{
    max-width: 50%;
}

.maxWidthP{
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.contentFlexBoxHorizontal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3%;
}

.contentFlexBoxVertical{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

}

.contentFlexBoxVertical2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 30%;
    margin-left: 2%;
    margin-right: 2%;

}

.contentFlexBoxVertical2 p{
    display: none;
}

.contentFlexBoxVertical2:hover p{
    display: block;
    margin: 0px;
}
/* Form*/
form{
    align-content: center;
    background: gray;
    border: 5px solid #555;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

form button{
    background-color: #222;
    border: 2px solid #555;
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

form fieldset{
    align-content: center;
    border: none;
    color: white;
    font-family: "Arial Black";
    height: auto;
}

form h1, form p{
    color: white;
    font-family: "Arial Black";
}

form input{
    border: 2px solid #555;
    font-family: "Arial";
}

form textarea{
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    font-family: "Arial";
    height: 40%;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

/*Footer */
.content{
    flex: 1 0 auto;
}

html, body{
    height: 100%;
}

footer{
    background: #333;
    border-top: 2px solid black;
    color: white;
    font-family: "Arial";
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    width: 100%;
}

/*First page title*/
.awc {
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #ffa500;
    margin-top: 5px;
    margin-bottom: -5px;
}

/*Other page titles + <p> styles*/
.tactics {
    color : white;
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bold {
    color : white;
    font-family: "Arial Black";
    margin: 0;
    text-align: center;
}

.thin {
    color : white;
    font-family: "Arial";
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

/*For ul in page two*/
hr {
    margin-top: 0;
} 

.text {
    font-family: "Arial";
    color:white;
    margin-left: 1%;
    text-align: center;
}

.ul {
    height: auto;
    color: #FFFFFF;
    margin-left: 1%;
    text-align: center;
}

.ul li {
    font-family: "Arial";
    text-align: center;
    list-style-position: inside;
}

/*URL links*/
a{
    color: white;
}

/*Images */
img.center{
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
}

img.s{
    display: block;
    margin: 0px auto;
    max-width: 30%;
    margin-bottom: 3%;
}

.rightS img.s{
    max-width: 35%;
}

.contentFlexBoxVertical2 img{
    width: 100%;
    border: none;
}

.contentFlexBoxVertical2 img.l:active{
    transform: scale(2,2);
    transform-origin:0% 50%;
}

.contentFlexBoxVertical2 img.c:active{
    transform: scale(2,2);
    transform-origin:50% 50%;
}

.contentFlexBoxVertical2 img.r:active{
    transform: scale(2,2);
    transform-origin:100% 50%;
}

#homePagePic{
    width: 350px;
}

/*Mozilla Firefox*/
@-moz-document url-prefix() { 
    nav ul li a{
        font-family: "Arial";
        color: white;
        font-weight: bold;
    }
    .awc {
        font-family: "Arial";
        color: #ffa500;
        font-weight: bold;
    }
    .bold {
        font-family: "Arial";
        color: white;
        font-weight: bold;
    }
    .tactics {
        font-family: "Arial";
        color: white;
        font-weight: bold;
    }

    .maxWidthP {
        font-family: "Arial";
        color: white;
        font-weight: bold;
    }

}

/*Internet Explorer*/
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .warning { 
    display: flex; 
    color:red;
    text-align: center;
    } 
}

/*-------------------Media queries 1024px--------------------*/

@media screen and (max-width: 1024px){
    /*Menu tablet */
    .menu-icon{
        margin-left: 10px;
        display: block;
    }
    nav ul{
        display:none;
        background: #222;
        border: 2px solid black;
        width: 15%;
    }

    nav:hover ul{
        display: inline-table;
    }

    nav{
        z-index: 1;
        display: inline-grid;
        max-height: 40px;
        background: #222;
    }

    .contentFlexBoxVertical2 img.l:active, .contentFlexBoxVertical2 img.c:active, .contentFlexBoxVertical2 img.r:active{
        transform: scale(2.2,2.2);
    }

    /* Was better geweest........ en door een sync fout er uit gehaald......

     nav ul{
        border-left: none;
        border-top: none;
    }
    .dropdown-content {
        border-left: none;
    }

    .dropdown-content a {
        text-align: left;
    }
*/
    /*Add after 25-10-2017 image gallery tablet
    .contentFlexBoxHorizontal{
        justify-content: flex-start;
        max-width: 50%;
        flex-direction: column;
        margin-bottom: 0;
    }

    .contentFlexBoxVertical{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contentFlexBoxVertical2{
        max-width: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contentFlexBoxVertical2 img{
        height: 200px;
    }
    */

}

/*-------------------Media queries 480px--------------------*/

@media screen and (max-width: 480px){
    /*General */
    header {
        background-color: #222;
        text-align:center;
        height: 170px;
    }
    .header{
        height: 170px;
    }
    img.center{
        max-width: 100%;
    }
    .bold{
        font-size: 20px;
    }
    .thin{
        font-size: 13px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /*Image gallery */
    .contentFlexBoxVertical2{
        /*If tablet  attributes are on.
        justify-content: space-around;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        --------------------*/
        margin-bottom: 20px;
        margin-top: 20px;
        max-width: 80%;
    }
    .contentFlexBoxHorizontal{
        /*If tablet  attributes are on.
        justify-content: center;
        margin-bottom: 3%;
        --------------------*/
        align-items: center;
        flex-direction: column;
    }
    .contentFlexBoxVertical2 img.l:active, .contentFlexBoxVertical2 img.c:active, .contentFlexBoxVertical2 img.r:active{
        transform: scale(1.2,1.2);
        transform-origin:50% 50%;
    }
    /*Contact*/
    form{
        width: 90%;
    }
    .maxWidthP{
        max-width: 80%
    }
    .leftS{
        margin-top: 20px;
        max-width: 80%;
        margin-bottom: 20px;
    }
    .rightS{
        max-width: 80%;
        margin-bottom: 20px;
    }

    /*Mobile menu */
    nav ul{
        width: 30%;
    }
}