/*Header*/
Header {
    background-color: #333;
    text-align:center;
    height: 350px;
}
.header{
    height: 350px;
    width: 100%;
}

/*Navigation bar */
nav ul{
    background-color: #222;
    border-bottom: 2px solid black;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

nav ul li a:hover, .dropdown:hover, .dropdown-content a:hover{
    background-color: red;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown{
    border: none;
}
/*Dropdown navigation bar */
.dropdown-content {
    background-color: #222;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    color:white;
    display: block;
    font-family: "Arial Black";
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Body */
body {
    background-attachment: fixed;
    background-image: url("Image/tank_grass_war_62140_1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

    /* Idk: Would like to have a better solution */
    display: flex;
    flex-direction: column;
}

h1, h2, p{
    text-align: center;
    color: white;
    font-family: "Arial Black";
}

h2{
    margin: 0px;
}

.leftS{
    aling: left;
    max-width: 50%;
}

.rightS{
    aling: right;
    max-width: 50%;
}

.maxWidthP{
    max-width: 60%;
    margin: auto;
}

.contentFlexBoxHorizontal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3%;
}

.contentFlexBoxVertical{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

}

.contentFlexBoxVertical2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 30%;
    margin-left: 2%;
    margin-right: 2%;

}

.contentFlexBoxVertical2 p{
    display: none;
}

.contentFlexBoxVertical2:hover p{
    display: block;
    margin: 0px;
}
/* Form*/
form{
    align-content: center;
    background: gray;
    border: 5px solid #555;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
}

form h1, form p{
    color: white;
    font-family: "Arial Black";
}

form fieldset{
    align-content: center;
    border: none;
    color: white;
    font-family: "Arial Black";
    height: auto;
}

form input{
    border: 2px solid #555;
    font-family: "Arial";
}

form textarea{
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    font-family: "Arial";
    height: 40%;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

form button{
    background-color: #222;
    border: 2px solid #555;
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/*Footer */
.content{
    flex: 1 0 auto;
}

footer{
    background: #333;
    border-top: 2px solid black;
    color: white;
    font-family: "Arial";
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    width: 100%;
}

/* Footer: Would like to have a better solution */

html, body{
    height: 100%;
}
/* Can be removed
footer{
    flex-shrink: 0;
}
*/

/*Text content*/
@media  screen  and  (max-width: 481px){
    .awc{
        color: green;
    }
}

/*First page */
.awc {
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #ffa500;
    margin-top: 5px;
    margin-bottom: -5px;
}

.tactics {
    color : white;
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bold {
    color : white;
    font-family: "Arial Black";
    margin: 0;
    text-align: center;
}

.thin {
    color : white;
    font-family: "Arial";
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

/*Why is this in our code ???*/
.ul {
    height: auto;
    color: #FFFFFF;
    margin-left: 1%;
    text-align: center;
}

.ul li {
    font-family: "Arial";
    text-align: center;
    list-style-position: inside;
}

.text {
    font-family: "Arial";
    color:white;
    margin-left: 1%;
    text-align: center;
}

hr {
    margin-top: 0;
}

/*URL links */
a{
    color: white;
}

/*Images */

img.center{
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
}

img.s{
    display: block;
    margin: 0px auto;
    max-width: 30%;
    margin-bottom: 3%;
}

.rightS img.s{
    max-width: 35%;
}

.contentFlexBoxVertical2 img{
    width: 100%;
    size: auto;
    border: none;
}

.contentFlexBoxVertical2 img.l:active{
    transform: scale(2,2);
    transform-origin:0% 50%;
}

.contentFlexBoxVertical2 img.c:active{
    transform: scale(2,2);
    transform-origin:50% 50%;
}

.contentFlexBoxVertical2 img.r:active{
    transform: scale(2,2);
    transform-origin:100% 50%;
}

#homePagePic{
    width: 350px;
}
/*Menu*/

.menu {
    margin-left: 1%;
    color: white;
    font-family: "Arial";
    text-align: center;
}

.menu h2 {
    margin: 0;
    margin-bottom: 5px;
}