/*Header*/
Header {
    background-color: #333;
    text-align:center;
    height: 350px;
}
.header{
    height: 350px;
    width: 100%;
}

/*Navigation bar */
nav ul{
    background-color: #222;
    border-bottom: 2px solid black;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover, .dropdown-content a:hover, button:hover{
    background-color: red;
}

nav ul li.dropdown {
    display: inline-block;
}

/*Dropdown navigation bar */
.dropdown-content {
    background-color: #222;
    border: 2px solid black;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.dropdown-content a {
    color:white;
    display: block;
    font-family: "Arial Black";
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
}



.dropdown:hover .dropdown-content {
    display: block;
}

/*Body */
body {
    background-attachment: fixed;
    background-image: url("Image/tank_grass_war_62140_1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

    /* Idk: Would like to have a better solution */
    display: flex;
    flex-direction: column;
}

/* Form*/
form{
    align-content: center;
    background: gray;
    border: 5px solid #555;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
}

form h1, form p{
    color: white;
    font-family: "Arial Black";
}

form fieldset{
    border: none;
    color: white;
    font-family: "Arial Black";
}

form input {
    border: 2px solid #555;
    font-family: "Arial";
}

form textarea {
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    font-family: "Arial";
    height: 40%;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

form button{
    background-color: #222;
    border: 2px solid #555;
    color: white;
    display: inline-block;
    font-family: "Arial Black";
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/*Footer */
footer{
    background: #333;
    border-top: 2px solid black;
    color: white;
    font-family: "Arial";
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    text-align: center;
    width: 100%;
}

/* Footer: Would like to have a better solution */
html, body{
    height: 100%;
}

.content{
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
}

/*Text content*/
.awc {
    color : white;
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #ffa500;
    margin-top: 5px;
    margin-bottom: 0;
}

.tactics {
    color : white;
    font-family: "Arial Black";
    padding-left: 1%;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bold {
    color : white;
    font-family: "Arial Black";
    margin: 0;
    text-align: center;
}

.dun {
    color : white;
    font-family: "Arial";
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

.atwarpic {
    text-align: center;
}

.ul {
    height: auto;
    color: #FFFFFF;
}

/*URL links */
a{
    color: white;
}