div{

}

.card{
    border: 3px solid black;
    width: 250px;
    margin: 20px;
    height: 100px;
    background-color: purple;
    color: skyblue;
    box-shadow: 0px 20px 40px 0 rgba(255,0,0,0.2);

    /* Display geeft aan wat het doet */

}

.row{
    display: flex;
}

